body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  color: #3098ec;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(100% - 110px); /* Adjust width to account for button */
  box-sizing: border-box;
}

button {
  padding: 10px;
  border: none;
  background-color: #1075d4bb;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #095d96;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.task {
  flex: 1;
  cursor: pointer;
}

.task.completed {
  text-decoration: line-through;
  color: #888;
}

.search-input {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.task-count {
  margin: 20px 0;
}

.edit-task {
  margin-top: 20px;
}

.task-buttons {
  display: flex;
  gap: 10px; /* Add gap between the buttons */
}
